body {
  font-family: 'Red Hat Display', sans-serif;
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-weight: 700;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
}

#linkedin {
  text-decoration: none;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}

.profile-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}

.profile-btn span {
  color: black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 2px;
}

#palleteContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 100px 0 10px;
  border-radius: 4px;
  overflow: hidden;
}

.palleteItem {
  transition: background-color .7s;
}

.palleteItem span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  min-width: 80px;
}

button {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  background: #000;
}

.footer, .footer a {
  text-align: center;
  text-decoration: none;
  color: #000;
}

.footer a img {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.dark .footer a img{
  -webkit-filter: invert(1);
  filter: invert(1);
}