body {
  font-family: 'Red Hat Display', sans-serif;
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-weight: 700;
}

#palleteContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 4px;
  overflow: hidden;
}

.palleteItem {
  transition: background-color .7s;
}

.palleteItem span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  min-width: 80px;
}